<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>Serwis komputerów</a>
    </div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span> Strona główna
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/counter"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-eye-open'></span> Status naprawy
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-plus'></span> Rejestracja naprawy
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
